
body {margin: 0; padding: 0;}

/* Rather Grab a Soylent in a Store? */
.section_store { margin: 0 auto; width: 1280px;}
.section_store .soylent_store { float: left; position: relative; width: 620px;}
.section_store .soylent_store li { float: left; } 
.section_store .soylent_store h2 {  font-size: 21px; color: #212322;} 
.section_store .soylent_store p { margin: 37px 0; font-size: 15px; color: #505050; line-height: 35px;} 
.section_store .soylent_store a { border-bottom: 2px solid #212322; color: #212322; font-weight: bold;} 
.section_store .soylent_store .pa { padding: 0 0 0 36px;}
.section_store .soylent_store .pa_tb{ margin: 20px 0 57px 0;}
.section_store .soylent_store .pa_b{ margin: 0 0 104px 0;}
.section_store .store_right .soylent_img { overflow: hidden;}

/* partner company */
.section_partner { margin: 0 auto; width: 1280px;}
.section_partner ul {border-bottom: 1px solid #e7e7e7;}
.section_partner li { display: inline-block;}
.section_partner p { padding: 0 35px 57px; text-align: center; height: 83px;}
.section_partner .align_center { margin: 0 100px 110px;}

/* section_follow */
.section_follow {margin: 0 auto; width: 1280px;}
.section_follow h2 { padding: 67px 0 0 0; color: #212322;}
.section_follow p { padding: 33px 0; color: #505055;}
.section_follow li { float: left; padding: 0 30px 25px 0;}
.section_follow .follow_align { margin: 0 0 0 210px;}
.section_follow .btn_more { display: flex; align-items: center; flex-direction: row; justify-content: center;}
.section_follow .btn_bg { padding: 30px 42px 97px 0; background-color:transparent; }
.section_follow .show { color: #0b7bc1;}



/* footer */
footer { background-color: #212322; padding: 85px 0 0; height: 513px; line-height: 1;} 
footer .footer_bg { margin: 0 auto; width: 1280px;}
footer .footer_left { color: #fff;}
footer .footer_left a { color: #fff;}
footer .txt_bottom {  margin: 0 0 25px;}
footer .footer_left  ul {  float:left; margin:0 110px 0 0;}
footer .footer_text li { padding: 0 0 32px;}
footer .footer_text  h2 {  padding: 0 0 31px;}

footer .footer_sns li { float: left; padding: 0 26px 0 0;}
footer .footer_sns h2 { padding: 0 0 25px;}


footer .footer_info { padding: 40px 0 0; border-top: 1px solid #494748; line-height: 1;}
footer .footer_info img { margin: 0 30px 0 0;}
footer .footer_info li { float: left; line-height: 50px; color: #fff;}
footer .footer_info a { font-size: 9px; color: #fff; font-weight: normal;}
footer .footer_info .info_txtaling { padding: 0 10px;}

footer .footer_info .info_right { float: right;}


