@import url(/base/normalize.css);
@import url(/base/reset.css);

@font-face {
  font-family: 'Apercu';
  src: url("/assets/Apercu-Font/Apercu\ Light.otf");
  font-weight: 300;
  font-style: normal;
  font-display: block; 
}
@font-face {
  font-family: 'Apercu';
  src: url("/assets/Apercu-Font/Apercu\ Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-display: block; 
}
@font-face {
  font-family: 'Apercu';
  src: url("/assets/Apercu-Font/Apercu\ Medium.otf");
  font-weight: 500;
  font-style: normal;
  font-display: block; 
}
@font-face {
  font-family: 'Apercu';
  src: url("/assets/Apercu-Font/Apercu\ Bold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: block; 
}

/* -- section 1 --- */

.why-soylent .container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 656px;
  padding-bottom: 80px;
}

.why-soylent-container {
  display: flex;
  flex-direction: column;
  width: 426px;
  background-color: #f3f3f3;
  padding: 30px;
}

.why-soylent-container h1 {
  margin-bottom: 15px;
}

.why-soylent-container p {
  margin-bottom: 20px;
}

.why-soylent-image {
  width: auto;
  height: 572px;
}

.why-soylent-image img {
  width: auto;
  height: 100%;
}


.icon-box .contents-icons {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.icon-box .contents-icons img {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.icon-box {
  margin-bottom: 61px;
}

.button-box {
  display: flex;
  align-items: center;
}

.button-box .contents-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 228px;
  height: 42px;
  margin-right: 20px;
  background-color: #fff;
  border: 2px solid #000;
}

.button-box a:last-child {
  padding-bottom: 2px;
  border-bottom: 2px solid #000;
}


/* -- section 2 ---*/

.three-up-contents {
  margin-bottom: 80px;
}

.three-up-contents .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 576px;
  background-color: #221F20;
  padding: 50px 0;
}

.three-up-contents h2 {
  margin-bottom: 55px;
}

.three-up-contents-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  height: 297px;
  margin-bottom: 30px;
}

.three-up-contents-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 426.6666666667px;
  text-align: center;
  padding: 30px 50px;
  border-right: 1px solid rgb(231, 231, 231);
}

.three-up-contents-list div:last-child {
  border: none;
}

.three-up-contents-items img {
  width: auto;
  height: 60px;
  margin-bottom: 20px;
}

.three-up-contents-items h3 {
  margin-bottom: 15px;
}

.three-up-contents-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 295px;
  height: 57px;
  padding: 17px;
  background-color: #fff;
  line-height: 1.5625;
  letter-spacing: 1.26px;
}



