/* GLOBAL SETTINGS */

@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

/* Reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
blockquote,
pre,
code,
address,
ul,
ol,
li,
menu,
nav,
section,
article,
aside,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
label,
caption,
th,
td,
form,
fieldset,
legend,
hr,
input,
button,
textarea,
object,
figure,
figcaption {
  margin: 0;
  padding: 0;
}
body,
input,
select,
textarea,
button,
img,
fieldset {
  border: none;
}
ul,
ol,
li {
  list-style: none;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
address,
cite,
code,
em,
i {
  font-style: normal;
  font-weight: normal;
}
label,
img,
input,
select,
textarea,
button,
a {
  vertical-align: middle;
}
u,
ins,
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

/* Normalize */
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}
select {
  appearance: none;
  margin: 0 40px 0 0;
  background: url(../images/bu_select.png) no-repeat right 20px center;
}
select::-ms-expand {
  display: none;
}
input[type="number"]::-wekit-inner-spin-button,
input[type="number"]::-wekit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.ie9 .test {
  position: relative;
  display: inline-block;
}
.ie9 .test select {
  margin: 0 20px 0 0;
  z-index: 1;
}
.ie9 .test:before {
  content: "";
  position: absolute;
  right: 1px;
  top: 1px;
  z-index: 3;
  width: 20px;
  height: calc(100% - 2px);
  background: #fff;
}

/* Style */
.clear {
  clear: both;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
caption > div,
legend,
.hide {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

:root {
  --main-lightgrey: rgb(247, 247, 247);
}

ul {
  list-style-type: none;
}

input[type="radio"],
input[type="radio"]:checked {
  appearance: none;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 100%;
  margin-right: 0.1rem;
}

input[type="radio"] {
  background-color: white;
  border: 2px solid black;
}
input[type="radio"]:checked {
  background-color: black;
  border: 2px solid lightgrey;
}

/* PART1 CSS */
/* PART1 CSS */
/* PART1 CSS */
/* PART1 CSS */
/* PART1 CSS */
/* PART1 CSS */
/* PART1 CSS */
/* PART1 CSS */
/* PART1 CSS */
/* PART1 CSS */
/* PART1 CSS */
/* PART1 CSS */
/* PART1 CSS */
/* PART1 CSS */
/* PART1 CSS */
/* PART1 CSS */
/* PART1 CSS */
/* PART1 CSS */
/* PART1 CSS */
/* PART1 CSS */
/* PART1 CSS */
/* PART1 CSS */

.top-notice {
  height: 60px;
  background-color: var(--main-lightgrey);
  text-align: center;
}

.top-notice p {
  margin: 0;
  padding: 20px;
}

header {
  align-items: center;
}

.header-inner {
  display: flex;
  height: 50px;
  max-width: 1500px;
  margin: 25px auto;
  font-weight: bold;
  font-size: 12px;
  justify-content: space-between;
}

.header-inner-left {
  display: flex;
}

.logo {
  height: 47.5px;
  margin-left: 80px;
}

.menu-items {
  display: flex;
  margin-top: 16px;
  padding-left: 30px;
}

.menu-item {
  display: flex;
  margin-right: 33.8px;
}

.menu-item p {
  margin-top: 3px;
}

.dropdown-icon {
  font-size: 18px;
  margin-top: 2px;
  margin-left: 1px;
}

.header-inner-right {
  display: flex;
  margin-right: 80px;
  text-align: center;
}

.header-inner-right p {
  width: 120px;
  height: 25px;
  padding-top: 10px;
  padding-right: 17px;
  margin-top: 5px;
  margin-right: 20px;
  border-right: 2px solid var(--main-lightgrey);
}

.flag {
  height: 17px;
  margin-top: 14px;
}

.header-inner-right-icon {
  margin-top: 10px;
  margin-right: 17px;
}

.header-inner-right .dropdown-icon {
  margin-top: 15px;
}

.landing {
  height: 640px;
  padding: 75px;
  background-image: url("https://cdn.shopify.com/s/files/1/0003/5933/3902/files/CC_HERO_Option2_car_2160x.png?v=1624982902");
}

.landing-inner {
  max-width: 1300px;
  margin: auto;
}

.landing-square {
  display: flex;
  width: 495px;
  height: 495px;
  background-color: rgb(171, 238, 199);
  border: 5px solid black;
}

.landing-text-area {
  margin: 75px 40px;
}

.landing-text-area h1 {
  margin: 10px;
  font-size: 38px;
}

.landing-text-area p {
  margin: 10px;
  margin-top: 25px;
  font-size: 22px;
}

.landing-text-area > button {
  display: flex;
  height: 56px;
  width: 200px;
  margin-top: 50px;
  margin-left: 10px;
  background-color: white;
  align-items: center;
  font-weight: bold;
  border: 2px solid black;
}

.landing-text-area button p {
  margin: auto;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
}

.landing-text-area button span {
  font-size: 30px;
  margin-right: 10px;
}

.products-inner {
  max-width: 1500px;
  padding: 60px 60px;
  padding-bottom: 40px;
  margin: auto;
}

.products-inner h1 {
  font-size: 28px;
}

.products-categories {
  display: flex;
  width: 300px;
  margin-top: 45px;
  padding: 0;
  font-size: 18px;
  color: gray;
  justify-content: space-between;
}

.products-categories li {
  margin: 0;
  padding: 0;
}

.selectedCat {
  color: black;
  border-bottom: 2px solid green;
}

.products-inner p {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 18px;
}

.products-cards {
  display: flex;
  justify-content: space-between;
}

.product-card {
  width: 28vw;
  max-width: 400px;
}

.product-card img {
  height: 265px;
  width: 28vw;
  max-width: 400px;
  background: var(--main-lightgrey);
  object-fit: contain;
  cursor: pointer;
}

.product-card > .hover-img {
  display: none;
  height: 267px;
  width: 28vw;
  max-width: 400px;
  z-index: 1;
}

.product-card img:hover {
  opacity: 0;
  position: absolute;
}

.product-card > .chocolate-img:hover ~ .chocolate-hover-img {
  display: block;
  background: url("https://cdn.shopify.com/s/files/1/0003/5933/3902/products/CreamyChocolate_Splash_d4d64e90-08ef-464b-b79c-19395bcd3bc7_720x.png?v=1624371939");
  background-size: cover;
  background-position: center;
}

.product-card > .mocha-img:hover ~ .mocha-hover-img {
  display: block;
  background: url("https://cdn.shopify.com/s/files/1/0003/5933/3902/products/CopyofUntitled_720x.png?v=1624370741");
  background-size: cover;
  background-position: center;
}

.product-card > .mint-img:hover ~ .mint-hover-img {
  display: block;
  background: url("https://cdn.shopify.com/s/files/1/0003/5933/3902/products/MintChocolate_Splash_720x.png?v=1624371949");
  background-size: cover;
  background-position: center;
}

.product-card h3 {
  margin-bottom: 5px;
}

.under-product-name {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding-bottom: 15px;
  margin-bottom: 15px;
  justify-content: space-between;
}

.under-product-name h3 {
  margin: 0;
  margin-top: 5px;
}

.stars {
  display: flex;
}

.stars span {
  font-size: 18px;
}

.stars p {
  margin: 0;
  margin-top: 5px;
  margin-left: 5px;
  color: lightslategrey;
}

.choice {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}

.choice-left label {
  font-size: 18px;
}

.choice-right {
  display: flex;
}

.choice-right p {
  margin: auto;
  margin-left: 3px;
}

.grey-price {
  color: grey;
}

.product-card p {
  font-size: 13px;
  color: grey;
}

.card-bottom-buttons {
  display: flex;
}

.delivery-cycle {
  display: flex;
  height: 45px;
  width: 8vw;
  border: 1px solid black;
}

.delivery-cycle-inner {
  display: flex;
  margin: auto;
  font-size: 13px;
  font-weight: bold;
  justify-content: space-around;
}

.delivery-cycle-inner p {
  color: black;
  margin-top: 10px;
}

.delivery-cycle-inner span {
  margin-top: 8px;
  margin-left: 5px;
}

.card-bottom-buttons-right {
  display: flex;
  width: 20vw;
  margin-left: 5px;
  background: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.card-bottom-buttons-right:hover {
  border: 1px solid black;
  color: black;
  background: white;
}

.counter {
  display: flex;
  margin: 10px 0;
  width: 100px;
  border-right: 1px solid grey;
}

.counter-inner {
  margin: auto;
}

.add-to-cart {
  width: 200px;
  border: none;
  background: inherit;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.card-bottom-text {
  margin-top: 15px;
  font-size: 16px;
  color: grey;
  text-align: center;
}

.line-under-products {
  display: flex;
  margin-top: 10px;
}

.lines {
  display: flex;
  margin-top: 30px;
}

.line {
  width: 16.5vw;
  max-width: 259px;
  height: 0;
  border-bottom: 1px solid lightgrey;
}

.line1 {
  border-color: black;
}

.arrow {
  margin-top: 18px;
  margin-left: 20px;
}

.grey-arrow {
  color: grey;
}

.shop-all-under-line {
  display: flex;
}

.shop-all {
  margin: 25px auto;
  width: 300px;
  height: 50px;
  border: 3px solid black;
  background: white;
  font-family: inherit;
  font-weight: bold;
  font-size: 15px;
}

.shop-all:hover {
  color: rgb(52, 172, 52);
  transition-duration: 0.2s;
}

/* PART 2 CSS */
/* PART 2 CSS */
/* PART 2 CSS */
/* PART 2 CSS */
/* PART 2 CSS */
/* PART 2 CSS */
/* PART 2 CSS */
/* PART 2 CSS */
/* PART 2 CSS */
/* PART 2 CSS */
/* PART 2 CSS */
/* PART 2 CSS */
/* PART 2 CSS */
/* PART 2 CSS */
/* PART 2 CSS */
/* PART 2 CSS */
/* PART 2 CSS */
/* PART 2 CSS */
/* PART 2 CSS */
/* PART 2 CSS */
/* PART 2 CSS */
/* PART 2 CSS */
/* PART 2 CSS */
/* PART 2 CSS */

/* -- section 1 --- */

.why-soylent .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 656px;
  padding-bottom: 80px;
}

.why-soylent-container {
  display: flex;
  flex-direction: column;
  width: 426px;
  height: 576px;
  background-color: #f3f3f3;
  padding: 30px;
  z-index: 1;
}

.why-soylent-container h1 {
  margin-bottom: 15px;
}

.why-soylent-container p {
  margin-bottom: 20px;
}

.why-soylent-image {
  width: auto;
  height: 576px;
}

.why-soylent-image img {
  width: auto;
  height: 100%;
  margin-left: -12px;
}

.icon-box .contents-icons {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.icon-box .contents-icons img {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.icon-box {
  margin-bottom: 61px;
}

.button-box {
  display: flex;
  align-items: center;
}

.button-box .contents-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 228px;
  height: 42px;
  margin-right: 20px;
  background-color: #fff;
  border: 2px solid #000;
}

.button-box a:last-child {
  padding-bottom: 2px;
  border-bottom: 2px solid #000;
}

/* -- section 2 ---*/

.three-up-contents {
  margin-bottom: 80px;
}

.three-up-contents .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 576px;
  background-color: #221f20;
  padding: 50px 0;
}

.three-up-contents h2 {
  margin-bottom: 55px;
}

.three-up-contents-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  height: 297px;
  margin-bottom: 30px;
}

.three-up-contents-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 426.6666666667px;
  text-align: center;
  padding: 30px 50px;
  border-right: 1px solid rgb(231, 231, 231);
}

.three-up-contents-list div:last-child {
  border: none;
}

.three-up-contents-items img {
  width: auto;
  height: 60px;
  margin-bottom: 20px;
}

.three-up-contents-items h3 {
  margin-bottom: 15px;
}

.three-up-contents-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 295px;
  height: 57px;
  padding: 17px;
  background-color: #fff;
  line-height: 1.5625;
  letter-spacing: 1.26px;
}

/*-- section 3 ---*/

.our-mission {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 80px;
}

.our-mission .container {
  width: 1280px;
  height: 470px;
}

.our-mission-title {
  margin-bottom: 40px;
}

.our-mission-inner {
  display: flex;
}

.our-mission-contents {
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 394px;
  margin-right: 110px;
}

.contents-items {
  display: flex;
  margin-bottom: 40px;
}

.our-mission-items {
  display: flex;
  width: 450px;
  padding: 0 20px;
}

.our-mission-items img {
  width: 67px;
  height: 67px;
  margin-right: 20px;
}

.our-mission-items h3 {
  margin-bottom: 12px;
}

.our-mission-counting span {
  display: block;
  margin-bottom: 24px;
}

.our-mission-counting strong {
  display: block;
  margin-bottom: 20px;
}

.our-mission-counting a:last-child {
  padding-bottom: 2px;
  border-bottom: 2px solid #000;
}

/* -- section 4 ---*/

.card-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 554px;
}

.card-review .container {
  width: 1280px;
  height: 554px;
}

.card-review-title {
  margin-bottom: 20px;
}

.card-review-carousle-contents {
  display: flex;
}

.card-review-carousle {
  display: flex;
  align-items: center;
}

.carousle-item {
  margin-right: 40px;
}

.carousle-item-image {
  width: 290px;
  height: auto;
  margin-bottom: 20px;
}

.carousle-item-image img {
  width: 290px;
  height: auto;
}

.carousle-item h3 {
  margin-bottom: 30px;
}

.people-carousle {
  position: relative;
  width: 290px;
  height: 500.84px;
}

.people-carousle .top-left {
  position: absolute;
  z-index: 2;
  width: 184px;
  height: 169px;
  top: -61px;
  left: -70px;
}

.people-carousle .bottom-left {
  position: absolute;
  z-index: 2;
  width: 132px;
  height: 167px;
  bottom: 5px;
  left: 0px;
}

.people-carousle .bottom-right {
  position: absolute;
  z-index: 2;
  width: 145px;
  height: 134px;
  bottom: 5px;
  right: -40px;
}

.people-carousle-inner {
  position: absolute;
  background-color: #fff;
  z-index: 3;
  width: 290px;
  height: 446px;
  border: 4px solid #000;
  padding: 30px 30px 50px;
}

.people-carousle-inner .carousle-inner-icon {
  width: 27px;
  height: 27px;
  margin-bottom: 5px;
}

.people-carousle-inner h4 {
  margin-bottom: 30px;
}

.people-carousle-list {
  width: 222px;
  height: 273px;
}

.people-carousle-list svg {
  width: 95px;
  height: 17px;
  margin-bottom: 15px;
}

.people-carousle-list p {
  display: block;
  margin-bottom: 15px;
}

.people-carousle-item {
  display: flex;
  align-items: center;
}

.people-carousle-item img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-right: 10px;
}

.slick {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-arrow {
  width: 23px;
  height: 15.92px;
}

.slick-arrow.prev {
  position: absolute;
  bottom: 23px;
  left: 75px;
}

.slick-arrow.next {
  position: absolute;
  bottom: 23px;
  right: 73px;
}

.slick-list {
  position: absolute;
  bottom: 23px;
  left: 125px;
}

/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */
/* PART3 CSS */

/* Rather Grab a Soylent in a Store? */
.section_store {
  margin: 70px auto 0 auto;
  width: 1280px;
}
.section_store .soylent_store {
  float: left;
  position: relative;
  width: 620px;
}
.section_store .soylent_store li {
  float: left;
}
.section_store .soylent_store h2 {
  font-size: 30px;
  color: #212322;
}
.section_store .soylent_store p {
  margin: 37px 0;
  font-size: 15px;
  color: #505050;
  line-height: 35px;
  font-weight: bold;
}
.section_store .soylent_store a {
  border-bottom: 2px solid #212322;
  color: #212322;
  font-weight: bold;
}
.section_store .soylent_store .pa {
  padding: 0 0 0 36px;
}
.section_store .soylent_store .pa_tb {
  margin: 20px 0 57px 0;
}
.section_store .soylent_store .pa_b {
  margin: 0 0 104px 0;
}
.section_store .store_right .soylent_img {
  overflow: hidden;
}

/* partner company */
.section_partner {
  margin: 0 auto;
  width: 1280px;
}
.section_partner ul {
  border-bottom: 1px solid #e7e7e7;
}
.section_partner li {
  display: inline-block;
}
.section_partner p {
  padding: 0 35px 57px;
  text-align: center;
  height: 83px;
}
.section_partner .align_center {
  margin: 0 100px 110px;
}

/* section_follow */
.section_follow {
  margin: 0 auto;
  width: 1280px;
}
.section_follow h2 {
  padding: 67px 0 0 0;
  color: #212322;
  font-size: 30px;
}
.section_follow p {
  padding: 33px 0;
  color: #505055;
  font-size: 17px;
  font-weight: bold;
}
.section_follow li {
  float: left;
  padding: 0 30px 25px 0;
}
.section_follow .follow_align {
  margin: 0 0 0 210px;
}
.section_follow .btn_more {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.section_follow .btn_bg {
  padding: 30px 42px 97px 0;
  background-color: transparent;
}
.section_follow .show {
  color: #0b7bc1;
}

/* footer */
footer {
  background-color: #212322;
  padding: 85px 0 0;
  height: 513px;
  line-height: 1;
}
footer .footer_bg {
  margin: 0 auto;
  width: 1280px;
}
footer .footer_left {
  color: #fff;
}
footer .footer_left a {
  color: #fff;
}
footer .txt_bottom {
  margin: 0 0 25px;
}
footer .footer_left ul {
  float: left;
  margin: 0 110px 0 0;
}
footer .footer_text li {
  padding: 0 0 32px;
}
footer .footer_text h2 {
  padding: 0 0 31px;
}

footer .footer_sns li {
  float: left;
  padding: 0 26px 0 0;
}
footer .footer_sns h2 {
  padding: 0 0 25px;
}

footer .footer_info {
  padding: 40px 0 0;
  border-top: 1px solid #494748;
  line-height: 1;
}
footer .footer_info img {
  margin: 0 30px 0 0;
}
footer .footer_info li {
  float: left;
  line-height: 50px;
  color: #fff;
}
footer .footer_info a {
  font-size: 9px;
  color: #fff;
  font-weight: normal;
}
footer .footer_info .info_txtaling {
  padding: 0 10px;
}

footer .footer_info .info_right {
  float: right;
}
